footer {
    background-color: #212529;
    color: white;
    padding: 5px;
    position: sticky;
    bottom: 0px;
    margin-top: 50%;
  }

  .search-buttons {
      padding: 10% 5%;
  }

  .search-bar-side {
border-left: solid;
border: gray;
  }